@import url("./styles/reset.css");
@import url("https://use.fontawesome.com/releases/v6.1.0/css/all.css");

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
