.book-item-list {
    max-width: 1500px;
    min-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(253, 247, 247);
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    height: 200px;
}

.book-item-list:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.398);
}

.book-item-list a {
    text-decoration: none;
}

.book-item-list div {
    margin: 0.5rem 0;
}

.book-item-list .title {
    width: 30%;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    margin: 1rem 0;
    overflow: hidden;
    word-wrap: break-word;
}

.book-item-list .title a:hover {
    color: #f3712e;
}

.book-item-list .author {
    font-style: italic;
    font-size: 1.5rem;
    width: 30%;

}

.book-item-list .img {
    overflow: hidden;
}

.book-item-list img {
    width: 80%;
    margin: auto;
}

.book-item-list img:hover {
    transition: all .3s ease;
    transform: scale(1.1);
}