.book-item {
  width: 100%;
  background-color: rgb(253, 247, 247);
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.book-item:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.398);
}

.book-item a {
  text-decoration: none;
}

.book-item div>span {
  margin: 0.5rem auto;
}

.book-item .title {
  font-size: 1.2rem;
  font-weight: bold;
  height: 2.5rem;
  line-height: 1;
  margin: 1rem 0;
  overflow: hidden;
  word-wrap: break-word;
}

.book-item .title a:hover {
  color: #f3712e;
}

.book-item .author {
  font-style: italic;
  font-size: 1.5rem;
}

.book-item .img {
  width: 160px;
  height: 220px;
  overflow: hidden;
  margin: 2rem auto;
}

.book-item img {
  width: 100%;
}

.book-item img:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.book-item button {
  background-color: rgb(240, 207, 207);
  padding: 0.3rem 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  opacity: 0.5;

}

.book-item button:hover {
  background-color: rgb(246, 169, 169);
  opacity: 1;
  ;
}

.book-item .button {
  color: red;
  font-size: 1.3rem;
  font-weight: bold;
}