#site {
  display: flex;
  width: 95vw;
  justify-content: space-around;
  margin: auto;
  background-color: #f7f7f7;
  color: black;
}

#main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#site .categories .item-categories ul {
  list-style: none;
}

#site .categories .item-categories ul li {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}

#site .categories .item-categories {
  text-align: left;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#site .categories .item-categories ul li::before {
  content: "\f105";
  font-size: 1rem;
  font-family: fontawesome;
  color: #f3712e;
  margin: 0 1rem;
}

a:hover {
  color: #f3712e;
}

.categories {
  margin-top: 10rem;
}

#main .to-top {
  width: 3rem;
  height: 3rem;
  color: #f3712e;
  border: 1px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#main .to-top:hover {
  color: white;
  background-color: #f3712e;
}

#main .fa-solid {
  font-size: 3rem;
}

.active {
  color: #f3712e;
}
