#site {
  display: flex;
  width: 95vw;
  justify-content: space-around;
  margin: auto;
  background-color: #f7f7f7;
  color: black;
}

#main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.info {
  text-align: center;
}








#main .to-top {
  width: 3rem;
  height: 3rem;
  color: #f3712e;
  border: 1px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#main .to-top:hover {
  color: white;
  background-color: #f3712e;

}


.title {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}